*{
    margin: 0px;
    padding: 0px;
}

#cabecalho {
    background-color: yellowgreen;
   padding: 10px;
}


.imgMenu{
    display: block;
    margin: auto;
    width: 45px;
    cursor: pointer;
}

#menu{
   background-color: yellow;
    display: none;
    width: 100%;
    padding: 10px;
    position: absolute;
}

.linkMenu {
    background-color: white;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
}

#sobreMin{
    display: flex;
    margin: 10px;
    padding: 10px;
    text-align: justify;
}

.sobreMin{
    margin: 5px;
}

.imgPerfil{
    width: 110px;
    border-radius: 50%;
}

#info{
    background-color: yellowgreen;
    display: flex;
    margin: 10px;
}

.info{
    margin: auto;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

#habilidades{
    background-color: yellowgreen;
    margin: 10px;
    display: grid;
    padding: 10px;
}

.habilidades{
   text-align: center;
    margin: auto;
    margin: 5px;
    cursor: pointer;
}

#qualificacoes{
    background-color: yellowgreen;

    margin: 10px;
    display: grid;
    padding: 10px;
}

.qualificacoes {
    text-align: center;
    margin: auto;
    margin: 5px;
    cursor: pointer;
}

/*Grandes Telas*/

@media screen and (min-width: 874px) {

    *{
        margin: 0px;
        padding: 0px;
    }
    
    #cabecalho {
        background-color: yellowgreen;
       padding: 30px;
       font-size: 40px;
       
    }

    .imgMenu{
        display: none;
        margin: auto;
        width: 45px;
        cursor: pointer;
    }
    
    #menu{
       background-color: rgb(255, 255, 255);
        display: flex;
        width: 100%;
        padding: 10px;
        position: relative;
    }
    
    .linkMenu {
        background-color: white;
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 5px;
        text-decoration: none;
    }

    #sobreMin{
        display: flex;
        margin: 10px;
        padding: 10px;
        margin-top: 50px;
        text-align: justify;
    }
    
    .sobreMin{
        margin: 10px;
        font-size: 30px;
        text-align: center;
        padding: 10px;
        
    }
    
    .imgPerfil{
        width: 310px;
        border-radius: 50%;
        margin: 20px;
    }
    
    #info{
        background-color: yellowgreen;
        display: flex;
        margin: 10px;
    }
    
    .info{
        margin: auto;
        padding: 10px;
        text-align: center;
        cursor: pointer;
    }
    
    #habilidades{
        background-color: yellowgreen;
        margin: 10px;
        display: grid;
        padding: 10px;
    }
    
    .habilidades{
       text-align: center;
        margin: auto;
        margin: 5px;
        cursor: pointer;
    }
    
    #qualificacoes{
        background-color: yellowgreen;
    
        margin: 10px;
        display: grid;
        padding: 10px;
    }
    
    .qualificacoes {
        text-align: center;
        margin: auto;
        margin: 5px;
        cursor: pointer;
    }
}